html{
    min-height: 100%;
    position:relative; 
}

body{
    background-color:#ECECEC;
    margin-top:100px;
    margin-bottom:60px;
}

.footer1 {
  border-top:#ccc solid 1px;
  height: 60px;
  background-color: #f5f5f5;
  z-index:1000;
   position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.navbar-brand{
    height:80px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.3s linear;
}

.navbar-default{
    border-bottom:#10A6D7  solid 3px;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #eee;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #10A6D7;
}
.dropdown-menu > li > a > i,
.list-group-item > i,
.kontakt > i{
    display:inline-block;
    width:18px;
}

.big-title{
    display:block;
    position:relative;
    margin:-17px 0 20px 0;
    background-image: url('https://secure.refundschedule.com/wp-content/uploads/2014/01/grey-website-background-illusionapparel2.jpg');
    padding:25px 0;
    font-size:24px;
    color:#FFF;
    border-bottom:#FFF solid 1px;
    background-size:cover;
    text-shadow: 2px 2px #000;
    font-family: 'Andika', sans-serif;

}

.big-title i{
    font-size:18px;
    text-shadow:none;
}

.big-title a{
    background-color:#10A6D7;
    display:inline-block;
    width:34px;
    height:34px;
    line-height:18px;
    border-radius:50%;
    color:#FFF;
}

.big-title a:hover{

    background-color:#225D90;
}


.list-group > li > ul{
    margin:0;
    padding:0;
}
.list-group > li > ul > li{
    display:block;
}

.well{
    border-color:#D2D2D2;
    border-radius:0px;
    background-color:#FFF;
        box-shadow: 1px 1px 1px rgba(0,0,0, .1);
}


.well > h3{
    margin:0 0 10px 0;
    padding:0 0 10px 0;
    font-size:18px;
    border-bottom:solid 1px #DDD;
    color:#333;
    font-family: 'Andika', sans-serif;
}

.form-control{
    border-radius:0px;
    transition: border 150ms linear;
    box-shadow: none;
}

.form-control:focus{
    border-color:#6AA7D8;
    outline:0;
    box-shadow:none;
    
}

.btn-primary{
    background-color:#10A6D7;
}

.btn-primary:hover{
    background-color:#0C7DA1;
}

.thumbnail .caption{
    padding:0;
}

.thumbnail h3{
    padding-bottom:6px;
    line-height:0;
    font-size:15px;
}

.title{
    padding-bottom: 5px;
margin-bottom: 10px;
font-size: 28px;
color: #5A5A5A;
border-bottom: dotted 1px #ccc;
font-family: 'Andika', sans-serif;
text-shadow: 1px 1px 1px #FFF;
}


.blog-title{
    color:#222;
}


.blog-img{
    margin-bottom:10px;
    display:block;
    height:207px;
    overflow:hidden;
}
.blog-img img{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.blog-img:hover img {
    opacity: 0.6;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



.blog-cover{

}

.blog-img:hover a{
    background-color:#FFF;
}


.sjena
{
  	position:relative;       
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}



.blog-tekst{
    font-size:14px;
    font-family: 'Andika', sans-serif;
    min-height:40px;
}

.blog-info{
    border-top:dashed 1px #DDD;
    margin-top:10px;
    padding-top:8px;
    font-size:13px;
    color:#888;
    
}

.lista{
    margin:0;
    padding:0;
}

.lista li{
    list-style:none;
}

.lista li a{
    border-bottom:solid 1px #DDD;
    padding:5px;
    display:block;
    color:#666;
}

.lista li a:hover{
    background-color:#10A6D7;
    text-decoration:none;
    color:#FFF;
}

.lista li a i{
    margin-right:6px;
}
    

.alert1{
    border:none;
    border-bottom:solid 2px #10A6D7;
    background-color:none;
    
}

.con-info{
    border:#DDD solid 1px;
    display:block;
    margin:0 0 8px 0;
    padding:8px;
    background-color:#F3F3F3;
    color:#666;
    border-radius:2px;
}

.con-info i{
    display:inline-block;
    width:24px;
    height:24px;
    line-height:22px;
    border:#10A6D7 solid 1px;
    border-radius:50%;
    text-align:center;
    font-size:12px;
    color:#FFF;
    background-color:#10A6D7;
}

.con-info span{
    display:block;
    font-size:16px;
    color:#222;
    padding:5px 0;
}

.con-info hr{
  margin:4px 0;
  border-color:#999;
}


.galerija{
    padding:8px;
}

.well-social a{
    text-decoration:none;
}

figure {
    display:block;
    margin: 0 0 20px 0;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    height:250px;
    
}


figure figcaption {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
}

figure img {
    display: block;
    position: relative;
    width:100%;
}

figure h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

figure p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

figure a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1px #000;
    font-size:12px;
    border-radius:3px;
    
}

figure a.info:hover {
    box-shadow: 0 0 5px #000;
    color:#333;
    background-color:#FFF;
}


.efekt1 img { 
    transition: all 0.2s linear;
}
.efekt1 figcaption {
    opacity: 0;
    background-color: rgba(105, 153, 199, 0.75);
    transition: all 0.4s ease-in-out;
}
.efekt1 h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.efekt1 p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.efekt1 a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}


/**/

.efekt1:hover img { 
	transform: scale(1.1);
} 

.efekt1:hover figcaption {
   opacity: 1;
}

.efekt1:hover h2,
.efekt1:hover p,
.efekt1:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.efekt1:hover p {
    transition-delay: 0.1s;
}

.efekt1:hover a.info {
    transition-delay: 0.1s;
}


/*kolaÄi*/

#cookie-bar {background:rgba(16, 16, 16, 0.9); height:auto; line-height:40px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}




@media screen and (max-width: 768px) {
    .navbar-brand>img {
        height: 40px;
        overflow: visible;
        
    }
    
     .navbar-brand {
        padding-top: 5px;
        padding-bottom: 0;
        height:40px;
    }
    
    .big-title{
        
        margin:-47px 0 20px 0;
     

    }
}